NotifierClient/NotifierClientApp/Web References/AlsiWebService/AlsiNotifyService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InsertNewOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Order" type="tns:xlTradeOrder" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="xlTradeOrder">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Contract" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BS" type="tns:BuySell" />
          <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Volume" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="tns:orderStatus" />
          <s:element minOccurs="0" maxOccurs="1" name="Principle" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Member" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Exchange" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Dealer" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Timestamp" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="BuySell">
        <s:restriction base="s:string">
          <s:enumeration value="Buy" />
          <s:enumeration value="Sell" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="orderStatus">
        <s:restriction base="s:string">
          <s:enumeration value="Ready" />
          <s:enumeration value="Completed" />
          <s:enumeration value="Cancelled" />
          <s:enumeration value="Active" />
          <s:enumeration value="None" />
        </s:restriction>
      </s:simpleType>
      <s:element name="InsertNewOrderResponse">
        <s:complexType />
      </s:element>
      <s:element name="InsertMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="message" type="tns:Boodskap" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Boodskap">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="TimeStamp" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Message" type="tns:Messages" />
          <s:element minOccurs="0" maxOccurs="1" name="Message_Custom" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="Messages">
        <s:restriction base="s:string">
          <s:enumeration value="isAlive" />
          <s:enumeration value="isDead" />
          <s:enumeration value="Startup" />
        </s:restriction>
      </s:simpleType>
      <s:element name="InsertMessageResponse">
        <s:complexType />
      </s:element>
      <s:element name="getLastMessage">
        <s:complexType />
      </s:element>
      <s:element name="getLastMessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getLastMessageResult" type="tns:Boodskap" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllMessages">
        <s:complexType />
      </s:element>
      <s:element name="GetAllMessagesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllMessagesResult" type="tns:ArrayOfBoodskap" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfBoodskap">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Boodskap" nillable="true" type="tns:Boodskap" />
        </s:sequence>
      </s:complexType>
      <s:element name="getLastOrder">
        <s:complexType />
      </s:element>
      <s:element name="getLastOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getLastOrderResult" type="tns:xlTradeOrder" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllOrders">
        <s:complexType />
      </s:element>
      <s:element name="getAllOrdersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllOrdersResult" type="tns:ArrayOfXlTradeOrder" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfXlTradeOrder">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="xlTradeOrder" nillable="true" type="tns:xlTradeOrder" />
        </s:sequence>
      </s:complexType>
      <s:element name="clearLists">
        <s:complexType />
      </s:element>
      <s:element name="clearListsResponse">
        <s:complexType />
      </s:element>
      <s:element name="SendCommand">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Command" type="tns:Command" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="Command">
        <s:restriction base="s:string">
          <s:enumeration value="RestartPC" />
          <s:enumeration value="Idle" />
        </s:restriction>
      </s:simpleType>
      <s:element name="SendCommandResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetCommand">
        <s:complexType />
      </s:element>
      <s:element name="GetCommandResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetCommandResult" type="tns:Command" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Msg" type="tns:EmailMsg" />
            <s:element minOccurs="1" maxOccurs="1" name="AdminMail" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="EmailMsg">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Body" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Html" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="SendEmailResponse">
        <s:complexType />
      </s:element>
      <s:element name="TriggerManualTrade">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Triggered" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TriggerManualTradeResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetManualTradeTrigger">
        <s:complexType />
      </s:element>
      <s:element name="GetManualTradeTriggerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetManualTradeTriggerResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertChatMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="tns:Chat" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Chat">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Time" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="FromUserID" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="ToUserID" type="tns:ArrayOfLong" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MessageID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfLong">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="long" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertChatMessageResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetChatMessages">
        <s:complexType />
      </s:element>
      <s:element name="GetChatMessagesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetChatMessagesResult" type="tns:ArrayOfChat" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfChat">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Chat" nillable="true" type="tns:Chat" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetPrice">
        <s:complexType />
      </s:element>
      <s:element name="GetPriceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPriceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InsertNewOrderSoapIn">
    <wsdl:part name="parameters" element="tns:InsertNewOrder" />
  </wsdl:message>
  <wsdl:message name="InsertNewOrderSoapOut">
    <wsdl:part name="parameters" element="tns:InsertNewOrderResponse" />
  </wsdl:message>
  <wsdl:message name="InsertMessageSoapIn">
    <wsdl:part name="parameters" element="tns:InsertMessage" />
  </wsdl:message>
  <wsdl:message name="InsertMessageSoapOut">
    <wsdl:part name="parameters" element="tns:InsertMessageResponse" />
  </wsdl:message>
  <wsdl:message name="getLastMessageSoapIn">
    <wsdl:part name="parameters" element="tns:getLastMessage" />
  </wsdl:message>
  <wsdl:message name="getLastMessageSoapOut">
    <wsdl:part name="parameters" element="tns:getLastMessageResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllMessagesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllMessages" />
  </wsdl:message>
  <wsdl:message name="GetAllMessagesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="getLastOrderSoapIn">
    <wsdl:part name="parameters" element="tns:getLastOrder" />
  </wsdl:message>
  <wsdl:message name="getLastOrderSoapOut">
    <wsdl:part name="parameters" element="tns:getLastOrderResponse" />
  </wsdl:message>
  <wsdl:message name="getAllOrdersSoapIn">
    <wsdl:part name="parameters" element="tns:getAllOrders" />
  </wsdl:message>
  <wsdl:message name="getAllOrdersSoapOut">
    <wsdl:part name="parameters" element="tns:getAllOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="clearListsSoapIn">
    <wsdl:part name="parameters" element="tns:clearLists" />
  </wsdl:message>
  <wsdl:message name="clearListsSoapOut">
    <wsdl:part name="parameters" element="tns:clearListsResponse" />
  </wsdl:message>
  <wsdl:message name="SendCommandSoapIn">
    <wsdl:part name="parameters" element="tns:SendCommand" />
  </wsdl:message>
  <wsdl:message name="SendCommandSoapOut">
    <wsdl:part name="parameters" element="tns:SendCommandResponse" />
  </wsdl:message>
  <wsdl:message name="GetCommandSoapIn">
    <wsdl:part name="parameters" element="tns:GetCommand" />
  </wsdl:message>
  <wsdl:message name="GetCommandSoapOut">
    <wsdl:part name="parameters" element="tns:GetCommandResponse" />
  </wsdl:message>
  <wsdl:message name="SendEmailSoapIn">
    <wsdl:part name="parameters" element="tns:SendEmail" />
  </wsdl:message>
  <wsdl:message name="SendEmailSoapOut">
    <wsdl:part name="parameters" element="tns:SendEmailResponse" />
  </wsdl:message>
  <wsdl:message name="TriggerManualTradeSoapIn">
    <wsdl:part name="parameters" element="tns:TriggerManualTrade" />
  </wsdl:message>
  <wsdl:message name="TriggerManualTradeSoapOut">
    <wsdl:part name="parameters" element="tns:TriggerManualTradeResponse" />
  </wsdl:message>
  <wsdl:message name="GetManualTradeTriggerSoapIn">
    <wsdl:part name="parameters" element="tns:GetManualTradeTrigger" />
  </wsdl:message>
  <wsdl:message name="GetManualTradeTriggerSoapOut">
    <wsdl:part name="parameters" element="tns:GetManualTradeTriggerResponse" />
  </wsdl:message>
  <wsdl:message name="InsertChatMessageSoapIn">
    <wsdl:part name="parameters" element="tns:InsertChatMessage" />
  </wsdl:message>
  <wsdl:message name="InsertChatMessageSoapOut">
    <wsdl:part name="parameters" element="tns:InsertChatMessageResponse" />
  </wsdl:message>
  <wsdl:message name="GetChatMessagesSoapIn">
    <wsdl:part name="parameters" element="tns:GetChatMessages" />
  </wsdl:message>
  <wsdl:message name="GetChatMessagesSoapOut">
    <wsdl:part name="parameters" element="tns:GetChatMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="GetPriceSoapIn">
    <wsdl:part name="parameters" element="tns:GetPrice" />
  </wsdl:message>
  <wsdl:message name="GetPriceSoapOut">
    <wsdl:part name="parameters" element="tns:GetPriceResponse" />
  </wsdl:message>
  <wsdl:portType name="AlsiNotifyServiceSoap">
    <wsdl:operation name="InsertNewOrder">
      <wsdl:input message="tns:InsertNewOrderSoapIn" />
      <wsdl:output message="tns:InsertNewOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertMessage">
      <wsdl:input message="tns:InsertMessageSoapIn" />
      <wsdl:output message="tns:InsertMessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getLastMessage">
      <wsdl:input message="tns:getLastMessageSoapIn" />
      <wsdl:output message="tns:getLastMessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllMessages">
      <wsdl:input message="tns:GetAllMessagesSoapIn" />
      <wsdl:output message="tns:GetAllMessagesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getLastOrder">
      <wsdl:input message="tns:getLastOrderSoapIn" />
      <wsdl:output message="tns:getLastOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllOrders">
      <wsdl:input message="tns:getAllOrdersSoapIn" />
      <wsdl:output message="tns:getAllOrdersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="clearLists">
      <wsdl:input message="tns:clearListsSoapIn" />
      <wsdl:output message="tns:clearListsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendCommand">
      <wsdl:input message="tns:SendCommandSoapIn" />
      <wsdl:output message="tns:SendCommandSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCommand">
      <wsdl:input message="tns:GetCommandSoapIn" />
      <wsdl:output message="tns:GetCommandSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <wsdl:input message="tns:SendEmailSoapIn" />
      <wsdl:output message="tns:SendEmailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TriggerManualTrade">
      <wsdl:input message="tns:TriggerManualTradeSoapIn" />
      <wsdl:output message="tns:TriggerManualTradeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetManualTradeTrigger">
      <wsdl:input message="tns:GetManualTradeTriggerSoapIn" />
      <wsdl:output message="tns:GetManualTradeTriggerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertChatMessage">
      <wsdl:input message="tns:InsertChatMessageSoapIn" />
      <wsdl:output message="tns:InsertChatMessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetChatMessages">
      <wsdl:input message="tns:GetChatMessagesSoapIn" />
      <wsdl:output message="tns:GetChatMessagesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPrice">
      <wsdl:input message="tns:GetPriceSoapIn" />
      <wsdl:output message="tns:GetPriceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AlsiNotifyServiceSoap" type="tns:AlsiNotifyServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertNewOrder">
      <soap:operation soapAction="http://tempuri.org/InsertNewOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertMessage">
      <soap:operation soapAction="http://tempuri.org/InsertMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLastMessage">
      <soap:operation soapAction="http://tempuri.org/getLastMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMessages">
      <soap:operation soapAction="http://tempuri.org/GetAllMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLastOrder">
      <soap:operation soapAction="http://tempuri.org/getLastOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllOrders">
      <soap:operation soapAction="http://tempuri.org/getAllOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="clearLists">
      <soap:operation soapAction="http://tempuri.org/clearLists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendCommand">
      <soap:operation soapAction="http://tempuri.org/SendCommand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCommand">
      <soap:operation soapAction="http://tempuri.org/GetCommand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <soap:operation soapAction="http://tempuri.org/SendEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TriggerManualTrade">
      <soap:operation soapAction="http://tempuri.org/TriggerManualTrade" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetManualTradeTrigger">
      <soap:operation soapAction="http://tempuri.org/GetManualTradeTrigger" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertChatMessage">
      <soap:operation soapAction="http://tempuri.org/InsertChatMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChatMessages">
      <soap:operation soapAction="http://tempuri.org/GetChatMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPrice">
      <soap:operation soapAction="http://tempuri.org/GetPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AlsiNotifyServiceSoap12" type="tns:AlsiNotifyServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertNewOrder">
      <soap12:operation soapAction="http://tempuri.org/InsertNewOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertMessage">
      <soap12:operation soapAction="http://tempuri.org/InsertMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLastMessage">
      <soap12:operation soapAction="http://tempuri.org/getLastMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMessages">
      <soap12:operation soapAction="http://tempuri.org/GetAllMessages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLastOrder">
      <soap12:operation soapAction="http://tempuri.org/getLastOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllOrders">
      <soap12:operation soapAction="http://tempuri.org/getAllOrders" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="clearLists">
      <soap12:operation soapAction="http://tempuri.org/clearLists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendCommand">
      <soap12:operation soapAction="http://tempuri.org/SendCommand" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCommand">
      <soap12:operation soapAction="http://tempuri.org/GetCommand" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <soap12:operation soapAction="http://tempuri.org/SendEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TriggerManualTrade">
      <soap12:operation soapAction="http://tempuri.org/TriggerManualTrade" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetManualTradeTrigger">
      <soap12:operation soapAction="http://tempuri.org/GetManualTradeTrigger" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertChatMessage">
      <soap12:operation soapAction="http://tempuri.org/InsertChatMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChatMessages">
      <soap12:operation soapAction="http://tempuri.org/GetChatMessages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPrice">
      <soap12:operation soapAction="http://tempuri.org/GetPrice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AlsiNotifyService">
    <wsdl:port name="AlsiNotifyServiceSoap" binding="tns:AlsiNotifyServiceSoap">
      <soap:address location="http://alsitm.com/AlsiNotifyService.asmx" />
    </wsdl:port>
    <wsdl:port name="AlsiNotifyServiceSoap12" binding="tns:AlsiNotifyServiceSoap12">
      <soap12:address location="http://alsitm.com/AlsiNotifyService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>