NotifierWebService/Client/Web References/alsiService/AlsiNotifyService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InsertNewOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Order" type="tns:xlTradeOrder" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="xlTradeOrder">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Contract" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BS" type="tns:BuySell" />
          <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Volume" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="tns:orderStatus" />
          <s:element minOccurs="0" maxOccurs="1" name="Principle" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Member" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Exchange" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Dealer" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="BuySell">
        <s:restriction base="s:string">
          <s:enumeration value="Buy" />
          <s:enumeration value="Sell" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="orderStatus">
        <s:restriction base="s:string">
          <s:enumeration value="Ready" />
          <s:enumeration value="Completed" />
          <s:enumeration value="Cancelled" />
          <s:enumeration value="Active" />
          <s:enumeration value="None" />
        </s:restriction>
      </s:simpleType>
      <s:element name="InsertNewOrderResponse">
        <s:complexType />
      </s:element>
      <s:element name="InsertMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertMessageResponse">
        <s:complexType />
      </s:element>
      <s:element name="getLastMessage">
        <s:complexType />
      </s:element>
      <s:element name="getLastMessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getLastMessageResult" type="tns:Boodskap" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Boodskap">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="TimeStamp" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getLastOrder">
        <s:complexType />
      </s:element>
      <s:element name="getLastOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getLastOrderResult" type="tns:xlTradeOrder" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="clearLists">
        <s:complexType />
      </s:element>
      <s:element name="clearListsResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InsertNewOrderSoapIn">
    <wsdl:part name="parameters" element="tns:InsertNewOrder" />
  </wsdl:message>
  <wsdl:message name="InsertNewOrderSoapOut">
    <wsdl:part name="parameters" element="tns:InsertNewOrderResponse" />
  </wsdl:message>
  <wsdl:message name="InsertMessageSoapIn">
    <wsdl:part name="parameters" element="tns:InsertMessage" />
  </wsdl:message>
  <wsdl:message name="InsertMessageSoapOut">
    <wsdl:part name="parameters" element="tns:InsertMessageResponse" />
  </wsdl:message>
  <wsdl:message name="getLastMessageSoapIn">
    <wsdl:part name="parameters" element="tns:getLastMessage" />
  </wsdl:message>
  <wsdl:message name="getLastMessageSoapOut">
    <wsdl:part name="parameters" element="tns:getLastMessageResponse" />
  </wsdl:message>
  <wsdl:message name="getLastOrderSoapIn">
    <wsdl:part name="parameters" element="tns:getLastOrder" />
  </wsdl:message>
  <wsdl:message name="getLastOrderSoapOut">
    <wsdl:part name="parameters" element="tns:getLastOrderResponse" />
  </wsdl:message>
  <wsdl:message name="clearListsSoapIn">
    <wsdl:part name="parameters" element="tns:clearLists" />
  </wsdl:message>
  <wsdl:message name="clearListsSoapOut">
    <wsdl:part name="parameters" element="tns:clearListsResponse" />
  </wsdl:message>
  <wsdl:portType name="AlsiNotifyServiceSoap">
    <wsdl:operation name="InsertNewOrder">
      <wsdl:input message="tns:InsertNewOrderSoapIn" />
      <wsdl:output message="tns:InsertNewOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertMessage">
      <wsdl:input message="tns:InsertMessageSoapIn" />
      <wsdl:output message="tns:InsertMessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getLastMessage">
      <wsdl:input message="tns:getLastMessageSoapIn" />
      <wsdl:output message="tns:getLastMessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getLastOrder">
      <wsdl:input message="tns:getLastOrderSoapIn" />
      <wsdl:output message="tns:getLastOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="clearLists">
      <wsdl:input message="tns:clearListsSoapIn" />
      <wsdl:output message="tns:clearListsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AlsiNotifyServiceSoap" type="tns:AlsiNotifyServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertNewOrder">
      <soap:operation soapAction="http://tempuri.org/InsertNewOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertMessage">
      <soap:operation soapAction="http://tempuri.org/InsertMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLastMessage">
      <soap:operation soapAction="http://tempuri.org/getLastMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLastOrder">
      <soap:operation soapAction="http://tempuri.org/getLastOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="clearLists">
      <soap:operation soapAction="http://tempuri.org/clearLists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AlsiNotifyServiceSoap12" type="tns:AlsiNotifyServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertNewOrder">
      <soap12:operation soapAction="http://tempuri.org/InsertNewOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertMessage">
      <soap12:operation soapAction="http://tempuri.org/InsertMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLastMessage">
      <soap12:operation soapAction="http://tempuri.org/getLastMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLastOrder">
      <soap12:operation soapAction="http://tempuri.org/getLastOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="clearLists">
      <soap12:operation soapAction="http://tempuri.org/clearLists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AlsiNotifyService">
    <wsdl:port name="AlsiNotifyServiceSoap" binding="tns:AlsiNotifyServiceSoap">
      <soap:address location="http://alsitm.com.winhost.wa.co.za/AlsiNotifyService.asmx" />
    </wsdl:port>
    <wsdl:port name="AlsiNotifyServiceSoap12" binding="tns:AlsiNotifyServiceSoap12">
      <soap12:address location="http://alsitm.com.winhost.wa.co.za/AlsiNotifyService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>